@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=IBM+Plex+Mono:wght@300;400;500&family=JetBrains+Mono:wght@200;300;400;500;600;700;800&family=Space+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  /* box-sizing: border-box; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}


@font-face {
  font-family: "Graphik";
  src: url('../assets/fonts/graphik/GraphikRegular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik bold";
  src: url('../assets/fonts/graphik/GraphikBold.otf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/sfpro/SFPRODISPLAYREGULAR.OTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display bold';
  src: url('../assets/fonts/sfpro/SFPRODISPLAYBOLD.OTF');
  font-weight: normal;
  font-style: normal;
}

.hover:hover{
  cursor: pointer;
}

.token.punctuation {
  color: black!important;
}


.token.operator {
  color: black!important;
}

.language-javascript {
  color: black!important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -26px!important;
}